<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/resources/logo.png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..900&family=Montserrat:wght@300..900&display=swap" rel="stylesheet">
    <title>Votely — Where Every Vote Counts.</title>
</head>
<body>
    <%- include("../includes/navbar") %>
    <div class="container">
        <%- body %>
    </div>
    <%- include("../includes/footer") %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="/js/main.js"></script>
</body>
</html>